* {
  box-sizing: border-box; }
ul {
    top:0;
    left:0;
    position:absolute;
    list-style: none;
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color:rgba(68, 63, 29, 0.82);
    background-image: -webkit-linear-gradient(top, rgba(23, 19, 14, 0.97), rgba(202, 135, 6, 0.87));
    background-image: -moz-linear-gradient(top, rgba(23, 19, 14, 0.97), rgba(202, 135, 6, 0.87));
    background-image: -ms-linear-gradient(top, rgba(23, 19, 14, 0.97), rgba(202, 135, 6, 0.87));
    background-image: -o-linear-gradient(top,rgba(23, 19, 14, 0.97), rgba(202, 135, 6, 0.87));
    background-image:  linear-gradient(to bottom, rgba(23, 19, 14, 0.97), rgba(202, 135, 6, 0.87));
  }
li {
    display: inline-block;
    margin: 0% 0% 0% 0%;
    padding:0;
    border-radius: 1em;
}
li.icons{
  float:left
}
li.noIcon{
  float:right
}

a {
  color: rgb(16, 16, 16);
  text-align: right;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
li a{
    text-align:center;
    display: block;
    color: white;
    padding: .7rem .5rem .5rem .5rem; 
    text-decoration:none;
    margin:0;
    border-radius: 1rem;
}
li a:hover{
    background-color:rgba(68, 63, 29, 0.82);
    background-image: -webkit-linear-gradient(top, rgba(12, 4, 4, 0.97), rgba(23, 82, 39, 0.87));
    background-image: -moz-linear-gradient(top, rgba(12, 4, 4, 0.97), rgba(23, 82, 39, 0.87));
    background-image: -ms-linear-gradient(top, rgba(12, 4, 4, 0.97), rgba(23, 82, 39, 0.87));
    background-image: -o-linear-gradient(top,rgba(12, 4, 4, 0.97), rgba(23, 82, 39, 0.87));
    background-image:  linear-gradient(to bottom, rgba(12, 4, 4, 0.97), rgba(23, 82, 39, 0.87));
    text-decoration: none;
    border-radius: 0.2em;
}
#About{
  text-align:center;
}
#Summary{
  text-align:center;
  
}


                        /*               Media Queries            */
@media screen and (min-width: 64em) {
  body {
    line-height:1.8;
  }
  body::after {
    background-size: 45%;
  }
  div#Coming
  {
    font-size: 3.4rem;
    margin: 12% 0% 10% 0%;

  }
  li{
    width:17%;
  }
  li a{
     font-size: .90rem;
  }
  li a:hover{
    
    padding: .7rem .5rem .5rem 0rem;  
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  body {
    line-height:1.8;
  }
  body::after {
    background-size: 55%;
    }
    div#Coming
  {
    font-size: 3rem;
    margin: 17% 0% 10% 0%;

  }
  li{
    width:17%;
  }
  li a{
     font-size: .88rem;
  }
  li a:hover{
    
    padding: .7rem .5rem .5rem 0rem;  
  }
  }

@media screen and (max-width: 42em) {
  body {
    line-height:1.8;
  }
  body::after {
    background-size: 80%;
    }
    div#Coming
  {
    font-size: 2.1rem;
    margin: 35% 0% 10% 0%;

  }
  li{
    width:24%;
  }
  li a{
     font-size: .8rem;
  }
  li a:hover{
    padding: .7rem .5rem .5rem .45rem;  
  }}

                                  /*    Animations   */
 @-webkit-keyframes comingAnimation {
    from {color: rgba(16, 16, 16, 0.99);}
    to {color: #ffffff;}
}
/* Standard syntax */
@keyframes comingAnimation {
    from {color: rgba(16, 16, 16, 0.99);}
    to {color: #ffffff;}
}
