body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif, color:white;}

.w3-quarter img{margin-bottom: -6px; cursor: pointer}

.w3-quarter img:hover{opacity: 0.5; transition: 0.3s}

#googleMap {opacity: 0.89}

.w3-theme-gradient {
  color: white;
  background:-webkit-linear-gradient(top,rgba(23, 19, 14, 0.97), rgba(202, 135, 6, 0.87));
}
.w3-theme-gradient:hover {
  color: white;
  background:-webkit-linear-gradient(top,rgba(54, 67, 70, 0.9), rgba(209, 212, 212, 0.85)));
}
.w3-theme-gradient {
  color: #000 !important;
  background:-moz-linear-gradient(top,rgba(23, 19, 14, 0.97), rgba(255, 255, 255, .3))}
.w3-theme-gradient {
  color: #000 !important;
  background:-o-linear-gradient(top,#ff751a 25%,#42A5F5 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background:-ms-linear-gradient(top,#ff751a 25%,#42A5F5 75%)}
.w3-theme-gradient {
  color: #000 !important;
  background: linear-gradient(top,#ff751a 25%,#42A5F5 75%)}





                        /*               Media Queries            */
@media screen and (min-width: 64em) {
  body {
    line-height:1.8;
  }
  body::after {
    background-size: 45%;
  }
  div#Coming
  {
    font-size: 3rem;
    margin: 12% 0% 10% 0%;

  }
  #About{
    font-size: 1.2rem;
  }
  #Summary{
    font-size: 1rem;
    line-height:1.5rem;
  }

}




@media screen and (min-width: 42em) and (max-width: 64em) {
  body {
    line-height:1.8;
  }
  body::after {
    background-size: 55%;
    }
  div#Coming
  {
    font-size: 2.5rem;
    margin: 17% 0% 10% 0%;
  }
  #About{
    font-size: 1.2rem;
  }
  #Summary{
    font-size: 1rem;
    line-height:1.5rem;
  }
  }

@media screen and (max-width: 42em) {
  body {
    line-height:1.8;
  }
  body::after {
    background-size: 90%;
    }
    div#Coming
  {
    font-size: 1.6rem;
    margin: 35% 0% 10% 0%;

  }
}





                                  /*    Animations   */
 @-webkit-keyframes comingAnimation {
    from {color: rgba(16, 16, 16, 0.99);}
    to {color: #ffffff;}
}
/* Standard syntax */
@keyframes comingAnimation {
    from {color: rgba(16, 16, 16, 0.99);}
    to {color: #ffffff;}
}
