$size: 25vmin;

*,
*:before,
*:after { box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);
}

.instagram {
  background:

    radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),

    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),

    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),

    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),


    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

  border-radius: .1em;
  font-size: $size;
  height: .5em;
  position: relative;
  width: .5em;

  &:before,
  &:after {
    color: #fff;
    content: '';
    display: block;
    position: absolute;
    border: .0375em solid;
  }

  &:before {
    border-radius: inherit;
    height: .375em;
    transform: translate(.0625em, .0625em);
    width: .375em;
  }

  &:after {
    border-radius: .5em;
    box-shadow: .1em -.1em 0 -.08em;
    height: .2em;
    transform: translate(.15em, .15em);
    width: .2em;    
  }
}
