body {
  background-color:black;
  padding: 0;
  margin: 0;
  width:100%;
  height: 40%;
  font-family: 'Aldrich', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 2.5;
  color: rgb(39, 43, 44); }


body::after{
  content: "";
  display: inline-block;
  background: url("/IMG_1647.png") no-repeat center center fixed;
  opacity: .4;
  background-repeat: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index:-1;
}


div#Coming{
  color:white;
  width: 100%;
  text-align:center;
  line-height:1.25;
  font-family:  'Aldrich', sans-serif;
  border-width: thick;
  border-color:black;
  border-style:none;
  -webkit-animation-name: comingAnimation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  animation-name: comingAnimation;
  animation-duration: 6s;
}
