body {
  position: static;
  background-color:black;
  left:0;
  right: 0;
  font-family: font-family: 'Aldrich', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgb(224, 234, 236);  }


body::after{
  content: "";
  display: inline-block;
  margin: 0% 10% 0% 10%;
  background: url("/IMG_1647.png") no-repeat center center fixed;
  background-position:center;
  opacity: .2;
  background-repeat: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index:-1;
}

#About{
  text-align:center;
}
#Summary{
  text-align:center;
  
}

